*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    line-height: 27px;
}

body{
    background-color: rgb(255, 255, 255);
}

nav{
    background-color: rgb(253, 253, 253);
    height: 50px;
    width: 80%;
    margin: auto;
    
}
nav > img{
    height: 48px; 
    padding: 2px 10px;
   
}
nav > h1{
    font-size: 20px;
    display: inline;
    margin-right: 200px;
}
nav > a{
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-right: 25px;
}
nav >a:hover{
    color: rgba(0, 0, 0, 0.712);
    font-size: 15px;
}

.im-dev{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 80%;
    padding: 10px 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.im-dev-right{
    padding-left: 30px;
    
}
.im-dev-right>h1{
    font-size: 2em;
    font-weight: bold;
}
.im-dev-right>p{
    font-size: 16px;
    padding-top: 0px;
}
.more-about-me{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: white;
}

.icons{
    padding: 5px 20px;
}
.icons>a>img{
    height: 35px;
    padding:5px;
    
}

.jovem-dev{
    height: 400px;
    
}

.sobre-mim{
    padding: 40px;
    border-top: 1px solid black;
    margin: auto;
    width: 80%;
    background-color: white;
}

.sobre-mim>h1{
    margin-bottom: 25px;
    border-bottom: 2px solid black;
    width: 200px;
    font-weight: bold;
}


.text1{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.habilidades{
    padding: 40px;
    border-top: 1px solid black;
    margin: auto;
    width: 80%;
    background-color: white;
    
}
.habilidades>H1{
    font-weight: bold;
    text-align: center;
}
.skills{
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skill-icon {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill-icon p {
    margin-top: 5px;
    font-weight: bold;
}


.projetos{
    padding: 40px;
    border-top: 1px solid black;
    margin: auto;
    width: 80%;
    background-color: white;
    
}
.projetos>h1{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.container-projetos{
    
margin-left: 30px;  
}

.card{   
    margin: 10px;
    margin-top: 50px;
    display: inline-block; 
}

.contato{
    
    padding: 40px;
    border-top: 1px solid black;
    margin: auto;
    width: 80%;
    background-color: white;
    
}
.contato>h1{
    padding: 10px;
    width: 175px;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 2.5em;
}

.perfil{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 280px;
    padding: 16px;
    margin-top: 40px;
    margin-left: 100px;
    
}

.perfil>h2{
   margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

.perfil>p{
    padding: 0px 17px;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}
.perfil-icons>a>img{
  padding: 0px 10px;
  height: 50px;
  width: 70px;
}
.perfil-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.container-redes{
    display: flex;
    float: right;
}

.redes{
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 280px;
    padding: 16px;
    margin-top: 40px;
    margin-right: 100px;
    
    
}
.redes>h2{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}
.redes>p{
    padding: 0px 17px;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}
.redes-icons>a>img{
    margin-top: 8px;
    padding: 0px 10px;
    height: 50px;
    width: 70px;
  }
.redes-icons{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
  }