*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    line-height: 27px;
}

body{
    background-color: rgb(255, 255, 255)
}

nav{
    padding: 20px ;
    background-color: rgb(255, 255, 255);
    height: 80px;  
    
}
nav>img{
    height: 50px;
    display: inline;
}
nav>h1{
    display: inline;
}


nav >a:hover{
    color: rgba(0, 0, 0, 0.712);
    font-size: 15px;
}

.im-dev{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 100%;
}
.im-dev-right{
    width: 88%;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    
    
    
}
.im-dev-right>h1{
    background-color: rgb(255, 255, 255);
    font-size: 2.2em;
    font-weight: bold;
    padding: 0px;
    margin-top: 10px;
}
.im-dev-right>p{
    font-size: 23px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.more-about-me{
    font-size: 18px;
    display: block;
    margin: auto;
    width: 90%;
    padding: 6px 20px;
    border-radius: 20px;
    background-color: white;
}

.icons{
    margin: 15px 0px 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
      
}
.icons>a>img{
    margin: auto;
    height: 60px;
    padding:5px 10px;
    
}

.jovem-dev{
    display: block;
    margin: auto;
    width: 90%;
    height: 300px;
    
}

.sobre-mim{
    margin-top: 100px;
    padding: 0px 10px;

    margin: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

.sobre-mim> h1{
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 40px 10px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-weight: bold;
}



.minha-foto{
  
}

.minha-foto> img{
   display: block;
   margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.descricao{
   padding: 10px;
}

.descricao>h2{
    font-weight: bold;
    font-size: 1.8em;
   padding: 20px 0px 20px;
}

.descricao>p{
    line-height: 20px;
}
    



.minha-hitoria{
    text-align: justify;
    margin-top: 100px;
    padding: 0px 10px;
    border-top: 1px solid black;
    margin: auto;
    width: 90%;
    line-height: 28px;
    background-color: rgb(255, 255, 255);
}
.lermais,.lermenos{
    
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    padding: 0;
    margin: 10px 0;
}



.hitoria-resumo>h1{
    margin-top: 20px;
    padding: 50px 0px 10px 10px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
    width: 200px;
    font-size: 1.5em;
    font-weight: bold;
}
.hitoria-resumo>p{
    padding: 0px 10px;
    text-align: justify;
    text-indent: 10px;
}

.historia-completa{
    display: none;
}


.text1{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 20px;
}


.habilidades{
    padding: 40px 0px 0px 0px;
    border-top: 1px solid black;
    margin: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.habilidades>H1{
    font-weight: bold;
    text-align: center;
}
.skills{
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-icon {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill-icon p {
    margin-top: 5px;
    font-weight: bold;
}

.textHabilidade {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    text-align: justify;
    padding: 20px 30px;
}


.textHabilidade p {
    font-size: 18px;
    line-height: 30px;
    text-indent: 10px;
    padding:0px 10px;
}

.container-projetos{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: 4px solid black;
    overflow-x: auto;
    padding: 10px;
}

.card{   
    margin: 0px 40px;
    width: 1000px;
}

.contato{
    padding: 40px;
    border-top: 1px solid black;
    margin: auto;
    width: 80%;
    background-color: white;
    
}
.contato>h1{
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 300px;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 2.8em;
}

.perfil{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 290px;
    padding: 16px;
    margin-top: 40px;
    margin-left: 100px;
    
}
.perfil>img{
    display: block;
    margin: auto;
    height: 30px;
    width: 30px;
}

.perfil>h2{
   margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

.perfil>p{
    padding: 10px 0px 0px;
    font-size: 17px;
    line-height: 27px;
    
    text-align: center;
}
.perfil-icons>a>img{
  padding: 0px 10px;
  height: 50px;
  width: 70px;
}
.perfil-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.container-redes{
    display: flex;
    float: right;
}

.redes{
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 280px;
    padding: 16px;
    margin-top: 40px;
    margin-right: 100px;
    
    
}
.redes>h2{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}
.redes>p{
    padding: 0px 17px;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}
.redes-icons>a>img{
    margin-top: 8px;
    padding: 0px 10px;
    height: 50px;
    width: 70px;
  }
.redes-icons{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
  }